/* main styling for all pages */

@font-face {
    font-family: 'Inter';
    src: url('/assets/InterVariable.ttf');
}

@keyframes click {
    0% {
        background-color: aqua;
        transform: scale(0.25);
    }
    100% {
        background-color: rgba(255, 10, 71, 0.5);
        transform: scale(1);
    }
}

* {
    cursor: none;
    font-family: 'Inter';
    font-size: 25px;
    color: white;
}

body {
    background-color: #497B7E;
    margin: 0;
    padding: 0;
}

.main-box {
    background-color: rgba(49, 53, 161, 0.5);
    margin: 100px auto;
    width: 90%;
    height: 80%;
    border-radius: 50px;
    border: 3px solid black;
    padding-bottom: 5%;
}

h1 {
    color: white;
    padding-top: 10px;
    text-align: center;
    font-size: 2rem;
}

.cursor-outline {
    z-index: 9999;
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px hotpink solid;
    transition: all 200ms ease-out;
    pointer-events: none;
}

.cursor {
    z-index: 9999;
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: rgba(255, 10, 71, 0.5);
    pointer-events: none;
    transition: transform 0.1s ease;
    transform-origin: center;
}

.cursor-animation {
    animation-name: click;
    animation-duration: 0.5s;
}

nav {
    z-index: 1000;
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    position: fixed;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
    font-weight: bold;
}

.nav-items {
    height: 100%;
}

nav a {
    display: flex;
    align-items: center;
    margin: 0 5px;
    padding: 0 10px;
    height: 100%;
    float: right;
    color: black;
}

nav a:link, nav a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    background-color: aquamarine;
    color: blue;
}

.divider {
    width: 90%;
    margin: auto;
    border-bottom: 3px solid white;
}

ul {
    list-style-type: none;
}

li {
    align-self: center;
    margin-right: 40px;
    padding: 0;
}

/* about page styling */

.side-box {
    background-color: rgba(54, 147, 136, 1);
    margin: 30px auto;
    width: 90%;
    height: 80%;
    border-radius: 50px;
    border: 3px solid white;
    display: flex;
    justify-content: space-evenly;
}

.about-me {
    border-right: 2px solid white;
}

.about-me, .other-box {
    color: white;
    font-size: 2rem;
    margin-left: 25px;
    flex-basis: 50%;
}

/* projects page styling */

.project-box {
    display: flex;
    justify-content: space-around;
}

.all-projects {
    margin: 33.2px 0;
    text-align: center;
    border: 3px solid white;
}

.project-links, .project-links a{
    color: gray;
}

.project p {
    font-size: 25px;
}

/* blogs page styling */

.blog-box {
    display: flex;
    justify-content: space-around;
}

.blog-box p, .everything p {
    padding: 0;
    margin: 0;
}

.search {
    text-align: center;
    color: gray;
}

/* contact page styling */

.message {
    text-align: center;
}