@font-face {
    font-family: 'Inter';
    src: url('/assets/InterVariable.ttf');
}

* {
    cursor: none;
    font-family: 'Inter';
    font-size: 25px;
}

body {
    background-color: #497B7E;
    margin: 0;
    padding: 0;
}

h1 {
    color: white;
    padding-top: 10px;
    text-align: center;
    font-size: 2rem;
}

nav {
    z-index: 1000;
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    position: fixed;
    margin: 0;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.5);
    font-weight: bold;
}

.main-box {
    background-color: #3135A1;
    opacity: 58%;
    margin: 100px auto;
    width: 90%;
    height: 80%;
    border-radius: 50px;
    padding-bottom: 5%;
}

.side-box {
    background-color: #369388;
    opacity: 50%;
    margin: 30px auto;
    width: 90%;
    height: 80%;
    border-radius: 50px;
    display: flex;
    justify-content: space-evenly;
}

.about-me {
    border-right: 2px solid white;
}

.about-me, .other-box {
    color: white;
    font-size: 2rem;
    margin-left: 25px;
    flex-basis: 50%;
}

.nav-items {
    height: 100%;
}

nav a {
    display: flex;
    align-items: center;
    margin: 0 5px;
    padding: 0 10px;
    height: 100%;
    float: right;
}

.name {
    float: left;
}

a:link, a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    background-color: aquamarine;
    color: lightgray;
}

.divider {
    width: 90%;
    margin: auto;
    border-bottom: 3px solid black;
}

.cursor-outline {
    z-index: 999;
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px hotpink solid;
    transition: all 200ms ease-out;
    pointer-events: none;
}

.cursor {
    z-index: 999;
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: rgba(255, 10, 71, 0.5);
    pointer-events: none;
}
