@font-face {
    font-family: 'Inter';
    src: url('/assets/InterVariable.ttf');
}

* {
    cursor: none;
    font-family: 'Inter';
    font-size: 25px;
    color: white;
}

body {
    background-color: #497B7E;
    margin: 0;
    padding: 0;
}

h1 {
    color: white;
    padding-top: 10px;
    text-align: center;
    font-size: 2rem;
}

h2 {
    font-size: 40px;
}

nav {
    z-index: 1000;
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    position: fixed;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
    font-weight: bold;
}

.main-box {
    background-color: rgba(49, 53, 161, 0.5);
    margin: 100px auto;
    width: 90%;
    height: 80%;
    border-radius: 50px;
    border: 3px solid black;
    padding-bottom: 5%;
}

.blog-box {
    display: flex;
    justify-content: space-around;
}

.nav-items {
    height: 100%;
}

nav a {
    display: flex;
    align-items: center;
    margin: 0 5px;
    padding: 0 10px;
    height: 100%;
    float: right;
}

nav a {
    color: black;
}

nav a:link, nav a:visited {
    color: black;
    text-decoration: none;
}

nav a:hover {
    background-color: aquamarine;
    color: blue;
}

.divider {
    width: 90%;
    margin: auto;
    border-bottom: 3px solid white;
}

.cursor-outline {
    z-index: 9999;
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px hotpink solid;
    transition: all 200ms ease-out;
    pointer-events: none;
}

.cursor {
    z-index: 9999;
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: rgba(255, 10, 71, 0.5);
    pointer-events: none;
}

.search {
    text-align: center;
    color: gray;
}